%p Someone want to buy your copy of #{@book_title}
%p Please contact them at : #{@buyer_email}
%p Their comments were:
%p #{@comments}
%p IMPORTANT: Your posting for this book has been hidden on the site. If your deal does not work out and you want to make your posting visible again, please press the "Update and Re-Publish" button on your posting admin page:
%p
	= link_to "Your post admin page", @admin_page_link
