%p You've successfully made a posting for your copy of #{@book_title} on TextBook Swap!
%p We will email you when someone wants to buy your book.
%p If you wish to edit your posting, please go to this link: 
%p
	= link_to "Your post admin page", @admin_page_link
