
%h1.welcome Welcome to TextBook Swap!

#button_choice

  = link_to "Buyer", show_courses_path("buy"), :class=>"buyer_button", :id=>"buyer_button"
  
  = link_to "Seller", show_courses_path("sell"), :class=>"seller_button", :id=>"seller_button"
