#homepage_comment
  %h2.welcome Welcome to TextBook Swap at UC Berkeley!
  
  %p
    Please buy and sell your textbooks with other Cal students here at TextBook Swap!
 
  #button_choice
    = link_to "Want to Buy", show_courses_path("buy"), :class=>"buyer_button", :id=>"buyer_button"
    = link_to "Want to Sell", show_courses_path("sell"), :class=>"seller_button", :id=>"seller_button"

  %p 
    How this website works: 
  
  %p
    About us:
  
  #footer
    Copyright © 2012 CS169SP12G15 |
    = link_to "About Us"
    |
    = link_to "Contact Us"
    |
