%h2 Postings for #{@book.title}

- @postings.each do |post|

  - if @odd == true
    
    %ul.grey
  
      = render :partial => "books/post", :locals => {:post => post}
    
    - @odd = false

  - else
  
    %ul
  
      = render :partial => "books/post", :locals => {:post => post}
  
    - @odd = true
    

    
