%h2 Postings for #{@book.title}

- @postings.each do |post|

	- if @odd == true
	
		%div.list.grey
		
			= render :partial => "books/post", :locals => {:post => post}
			
		- @odd = false
		
	- else
	
		%div.list.darkgrey
		
			= render :partial => "books/post", :locals => {:post => post}
			
		- @odd = true
    

    
