%h2 Recommended Books

#Unrequired

	- @unrequired_books.each do |book|
	
		- if @odd == true
			
			%div.list.grey
			
				= render :partial => "courses/book", :locals => {:book => book}
				
			- @odd = false
			
		- else
		
			%div.list.darkgrey
			
				= render :partial => "courses/book", :locals => {:book => book}
				
			- @odd = true
      
