%h2 Recommended Books

#Unrequired

  - @unrequired_books.each do |book|

    - if @odd == true
    
      %ul.grey
  
        = render :partial => "courses/book", :locals => {:book => book}
      
      - @odd = false
      
    - else
    
      %ul
  
        = render :partial => "courses/book", :locals => {:book => book}
    
      - @odd = true
      
