%p We are in the process of getting books into the database, thanks.

= render :partial => "courses/required"

= render :partial => "courses/unrequired"

- if @transaction_type == 'sell'

  = button_to 'Enter Unlisted Book', display_new_book_path(@course), :action => "display_new", :method => :get
