/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


/*
#top {
	width: 500px;
	height: 100px;
	margin: auto;
}

#logo {
  padding: 20px;
	color: #444444;
	margin: auto;
  text-align: center;
}
*/

#wrapper {
	position: relative;
	margin: 20px auto 0 auto;
	width: 1000px;
}

#top {
  background: #2C84AF url('banner.jpg') top left no-repeat;
  color: #FFFFFF;
	height: 120px;
	position: relative;
	padding: 20px 0px 20px 0px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-top: solid 1px #96D0F7;
  border-left: solid 1px #96D0F7;
	border-bottom: solid 1px #0C3459;
  border-right: solid 1px #0C3459;
}

#logo {
  font-family: "Courier New", Courier, monospace;
	color: #FFFFFF;
	margin: auto;
  text-align: center;
}

#phrase {
	color: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
	font-size: 10px
  margin: auto;
  text-align: center;
}

#notice {
  font-family:Arial, Helvetica, sans-serif; 
  font-size:20px;
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('error.png');
}

#main {
  background: #FFFFFF;
  color: #000000;
	height: auto;
	position: relative;
	padding: 20px 10px 100px 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
  border-left: solid 1px #000000;
	border-bottom: solid 1px #000000;
}

body {
	background: #6B7C93 top center no-repeat;
	line-height: 1.75em;
	font-size: 12.5pt;
}

#footer {
  font-size: 12px;
  text-align: right;
}

