/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


/*
#top {
	width: 500px;
	height: 100px;
	margin: auto;
}

#logo {
  padding: 20px;
	color: #444444;
	margin: auto;
  text-align: center;
}
*/

#top {
  background: #2C84AF url('banner.jpg') top left no-repeat;
	color: #FFFFFF;
	height: 130px;
	position: relative;
	padding: 40px;
	border-radius: 10px;
	border-top: solid 1px #96D0F7;
	border-bottom: solid 1px #0C3459;
}

#logo {
  font-family: "Courier New", Courier, monospace;
	color: #FFFFFF;
	margin: auto;
  text-align: center;
}

#phrase {
	color: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
	font-size: 10px
  margin: auto;
  text-align: center;
}

#notice {
  font-family:Arial, Helvetica, sans-serif; 
  font-size:20px;
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('error.png');
}
