/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
	height: 100%;
	background-image: url('back.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#sign {
  padding-top: 5px;
  margin-left: -10px;
  margin-bottom: 5px;
}

body {
	position: relative;
	margin: 5px auto 10em auto;
	width: 800px;
}

#wrapper {
  position: absolute;
  width: 675px;
  background: #FFFFFF;
  color: #000000;
	height: auto;
	padding: 0px 10px 10px 10px;
	border-radius: 10px;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
  border-left: solid 1px #000000;
	border-bottom: solid 1px #000000;
}

#notice {
  font-family:Arial, Helvetica, sans-serif; 
  font-size:20px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('success.png');
}

#warning {
  font-family:Arial, Helvetica, sans-serif; 
  font-size:20px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('error.png');
}

#footer {
  margin-top: 50px;
  font-size: 10pt;
  text-align: center;
}

/*this is a temporary color scheme for failed validation, change later*/
.error {
    font: normal 10px arial;
    padding: 3px;
    margin: 3px;
    background-color: #ffc;
    border: 1px solid #c00;
}
/*
#top {
  background: #2C84AF url('banner.jpg') top left no-repeat;
  color: #FFFFFF;
	height: 120px;
	position: relative;
	padding: 20px 0px 20px 0px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-top: solid 1px #96D0F7;
  border-left: solid 1px #96D0F7;
	border-bottom: solid 1px #0C3459;
  border-right: solid 1px #0C3459;
}

#logo {
	color: #FFFFFF;
	margin: auto;
  text-align: center;
}

#phrase {
	color: #FFFFFF;
	font-size: 10px
  margin: auto;
  text-align: center;
}

#yielding {
  line-height: 1.75em;
	font-size: 12.5pt;
}
*/
