// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inputs {
  width: 400px;
  clear: both;
}

#left {
  float: left;
}

#right {
  float: right;
}

div.posting_link {
	padding-left: 20px;
}
