// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.list {
	padding: 10px 10px 10px 10px;
}

div.list.grey {
  background-color: LightGrey;
}

div.list.darkgrey {
  background-color: DarkGrey;
}
