#wrapper.home {
	position: relative;
	margin: 0 auto 0 auto;
	width: 800px;
}

#homepage_comment {
  position: absolute;
  width: 675px;
  background: #FFFFFF;
  color: #000000;
	height: auto;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
  border-left: solid 1px #000000;
	border-bottom: solid 1px #000000;
}
