// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buyer_button {
	-moz-box-shadow:inset 0px 1px 0px -1px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px -1px #bbdaf7;
	box-shadow:inset 0px 1px 0px -1px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:24px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.buyer_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.buyer_button:active {
	position:relative;
	top:1px;
}

.seller_button {
	-moz-box-shadow:inset 0px 1px 0px -1px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px -1px #c1ed9c;
	box-shadow:inset 0px 1px 0px -1px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:24px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
}.seller_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.seller_button:active {
	position:relative;
	top:1px;
}


