// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inputs {
  width: 450px;
  clear: both;
}

#left {
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}

#right {
  float: right;
}

#box {
  margin-left: 10px;
}

#admin_delete {
	float: right;
	margin-top: 23px;
}
